*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 200vh;
    width: 100vw;
    overflow-x: none;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.navcontainer{
    width: 100vw;
    /* background-color: rgba(105, 105, 187, 0.879); */
    background-color: #37505b;
    background-image: linear-gradient(160deg, #37505b 78%, #80D0C7 100%);
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    padding-right: 2rem;
}
#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navlogo{
    font-size: 2.5rem;
    color: beige;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
}
.footerBox{
    background-color: #37505b;
    background-image: linear-gradient(160deg, #37505b 78%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    min-height: 20px;
}
.footerBox p{
    color: azure;
    font-size: 2rem;
}
.contentBox{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightbox img{
    height: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightbox :hover{
    transform: scale(1.1);
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s; 
}
.rightbox:hover .overlay{
    opacity: 1;
}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftbox h2{
    font-size: 2rem;
}
.ing{
    font-size: 1.8rem;
}
.rec{
    font-size: 1.8rem;
}